/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require bootstrap_and_overrides
 *= require_self
 *= require locations.css.scss
 */

$black: #151515;
$blue: blue;
$navy-blue: #003366;

html{
	font-family: 'Roboto', sans-serif;
}

#header{
	color:yellow;
	background-color: $black;
	height: 2em;
	font-size: 2em;
	border-radius: 2em;
	margin: auto;
	width: 25%;

}
#footer-navbar{
	background-color: $navy-blue;
	font-size: 2em;
	border-radius: 2em;
	width: 50%;
}

a{
	color: $black;
	text-decoration: none;
	&:hover{
		color: $blue;
		text-decoration: underline;
		background: none;
	}
	&:visited{
		color: $black;
	}
}

