@mixin centering{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

//drifter page
#map {
  height: 1000px;
}
.leaflet-map-pane{
  z-index: 2! important;
}
.leaflet-google-layer{
  z-index:1 !important;
}

//home page
#home{
  .home_map{
    width: 400px;
    height: 10%;
    @include centering;
    #map{
      height: 300px;
    }
  }
  .inline-me{
    label{
      display: inline;
    }
  }
  
}

//index show page
#index, #show{
  width: 80%;
  padding-left: 100px;
}


