<center><h1> Select mode! </h1></center>
<br>
<br>
 <center> Drifters view for mobile devices </center>
<br>
<ul data-role="listview" data-inset="true" data-filter="true" data-input="#filter-for-listview">
    <li><%= link_to "Live", driftermobiles_path(:nb => 1, :prof => 50), :rel => "external" %></li>
    <li><%= link_to "Search", driftermobiles_path(:id => 1), :rel => "external" %></li>
    <li><%= link_to "Data", "/locations" %></li>
</ul>
