<nav id = "header" class="navbar navbar-default navbar-fixed-top" role="navigation">
   <div class="navbar-header">
      <br>
      <%= link_to root_path do %>
        <center>Water Drifter @Berkeley</center>
      <% end %>
   </div>
</nav>